[submodule "vendor/my"]
	path = vendor/my
	url = git@github.com:medikoo/my-elisp.git
[submodule "vendor/my-indent"]
	path = vendor/my-indent
	url = git@github.com:medikoo/my-indent.git
[submodule "vendor/el-screen"]
	path = vendor/el-screen
	url = git@github.com:medikoo/el-screen.git
[submodule "vendor/el-index"]
	path = vendor/el-index
	url = git@github.com:medikoo/el-index.git
