[submodule "vendor/my"]
	path = vendor/my
	url = git@github.com:medikoo/my-elisp.git
[submodule "vendor/my-indent"]
	path = vendor/my-indent
	url = git@github.com:medikoo/my-indent.git
[submodule "vendor/my-screen"]
	path = vendor/my-screen
	url = git@github.com:medikoo/my-screen.git
