[submodule "vendor/el-kit"]
	path = vendor/el-kit
	url = git@github.com:medikoo/el-kit.git
[submodule "vendor/el-indent"]
	path = vendor/el-indent
	url = git@github.com:medikoo/el-indent.git
[submodule "vendor/el-screen"]
	path = vendor/el-screen
	url = git@github.com:medikoo/el-screen.git
[submodule "vendor/el-index"]
	path = vendor/el-index
	url = git@github.com:medikoo/el-index.git
